{
    margin: 0;
    padding: 0;
}
header{
            width: 784px;
            height: 200px;
            background-color: #a9a9a9;
        }
kolom{
    overflow: hidden;
    margin-bottom: 10px;
}
        .kolom1{
            width: 200px;
            height: auto;
            background-color: yellow;
        }
        .kolom2{
            width: 584px;
            height: auto;
            margin-left: 205px;
            background-color: #f08080; 
        }
        footer{
            width: 784px;
            height: 100px;
            background-color: #9370DB;
            align-items: center;
            justify-content: center;
            padding: 1px;
            display: flex;
        }