.background{ 
   background: black;
    width: 900px;
    margin: 10px auto;      
}
.background .header{
            width: 784px;
            height: 200px;
            background-color: #a9a9a9;
            margin bottom: 10px;
        }
        .badan{
            height: 450px;
        }
.background .badan .kolom1{
            width: 200px;
            height: auto;
            background-color: yellow;
            float: left;
        }
.background .badan .kolom2{
            width: 584px;
            height: auto;
            margin-left: 205px;
            background-color: #f08080; 
            float: left;
        }
.background .footer{
            width: 784px;
            height: 100px;
            background-color: violet;
        }