.container{ 
    display:   grid;    
    grid-template-areas: 
        "area-1"
        "area-2"
        "area-3"
        "area-4";
      margin: 0 auto;  
}
area-1 img{
        grid-area: area-1;
        width: 784px;
        height: 200px;
        background-color: #a9a9a9;
        }
    body area{
        overflow: hidden;
    margin-bottom: 10px;
      }
area-2{
    grid-area: area-2;
        width: 200px;
        height: auto;
        background-color: yellow;
        float: left;
        }
area-3{
    grid-area : area-3;
        width: 584px;
        height: auto;
        background-color: #f08080; 
        float: left;
        min-height: 300px;
        }
area-4{
    grid-area: area-4;
            width: 784px;
            height: 100px;
            background-color: violet;
            float: left;
        }